.status{
  width: 220px;
  border: 1px solid #ccc;
  background-color: #fff;
  height: 38px;
  line-height: 38px;
  color: #555555;
  border-radius: 3px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
}